html,body,div,ul,li,a,span,p,img,canvas{padding: 0;margin: 0;font-family: "Microsoft Yahei";font-size: 100%;}
body,html{width: 100%;height: 100%;/*overflow-y: hidden;overflow-y: hidden;*/}

button.btn-default{outline: none;}
a{text-decoration: none;}
a:hover{text-decoration: none;}
.clear{clear: both;}

.space{display: none;}
.container{display: block;}

/*.container{display: block;}*/

.panel .panel-body a{display: block; width: 25%;text-align: center;padding: 30px 20px;float: left;}
.panel .panel-body a img{width: 150px; height: 150px;}
.panel .panel-body a p.name{color: black;padding: 8px 0px;}
.panel .panel-body a p.detail{display: block;height: 14px;color: #808080;font-size: 12px;overflow: hidden;}

.hospital-detail-top{padding: 20px 50px;border-bottom: 1px #ccc solid;}
.hospital-detail-top-left, .hospital-detail-top-right{float: left;}
.hospital-detail-top-left img{width: 120px;}
.hospital-detail-top-right{margin-left: 30px;}
.hospital-detail-top-right p.hospital-detail-name{padding-top: 20px;font-size: 25px;}
.hospital-detail-top-right p.hospital-detail-description{padding-top: 3px;font-size: 15px;color: #808080;}

.department-detail-top{padding: 20px 20px;border-bottom: 1px #ccc solid;margin-bottom: 20px;}
.department-detail-top p.department-detail-name{padding-top: 20px;font-size: 25px;}
.department-detail-top p.department-detail-description{padding-top: 3px;font-size: 15px;color: #808080;}
.department-doctors{text-align: center;width: 70%;margin: 0 auto;}
.department-doctors table th{text-align: center;}

.user{display: none;}
.login, .signup{width: 30%;margin-top: 50px;float: left;margin-left: 10%;}
.loginAndSignup .form{width: 50%;margin: 0 auto;}
.loginAndSignup .form .input-group{margin-bottom: 20px;}
.loginAndSignup .panel-body{text-align: center;}
.loginAndSignup .panel-body button{margin-right: 20px;}

.order{width: 80%;margin-left: 10%;}
.order .table{width: 80%;margin: 0 auto;text-align: center;}
.order .table th{text-align: center;min-width: 120px;}
.order .table tr td button{text-align: center;margin: 0 10px;}

.book{width: 50%;margin: 0 auto;}
.book .panel .panel-body form p{padding: 5px 0;margin: 10px 0;border-bottom: 1px #ccc solid;}
.book .panel .panel-body form .form-group{width: 20%;float: left;margin-right: 20px;}
.book .panel .panel-body form .input-group{width: 65%;margin-bottom: 20px;}
.book .panel .panel-body form .book-submit{text-align: center;}

.alert{display: none;position: absolute;width: 100%;height: 100%;background: rgba(0,0,0,0.50);top: 0;}
.alert button.closebtn{float: right;background: none;font-size: 18px;}
.alert button.closebtn:hover{outline: none;}
.alert .panel{width: 30%;margin: 0 auto;margin-top: 10%;}
.alert .panel .panel-body form p{padding: 5px 0;margin: 10px 0;border-bottom: 1px #ccc solid;}
.alert .panel .panel-body form .form-group{width: 60%;float: left;margin-right: 20px;}
.alert .panel .panel-body form .input-group{margin-bottom: 20px;}
.alert .panel .panel-body form .book-submit{text-align: center;}
